<!DOCTYPE html>
<html>
	<head>
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<%= javascript_include_tag "application" %>
	</head>
	<body>

		<form id="recipe_converter_form">
			<textarea id="text_area" rows="10" cols="70"></textarea></br>
			<input type="submit" value="Convert Recipe!" id="submit_button">
		</form>

	<div id="results">
		<textarea id="text_area" rows="10" cols="70"></textarea>
	</div>
</body>
</html>


